{% extends "base.html" %}
{% block html_lang %}
  {{ article.lang }}
{% endblock %}
{% block title %}
  {{ SITENAME|striptags }} - {{ article.title|striptags }}
{% endblock %}
{% block head %}
  {{ super() }}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}
{% endblock %}
{% block content %}
  <article class="text-gray-700">
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ article.url }}"
           rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </h1>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </header>
    {{ article.content }}
    {% include "include/footer_article_article.html" %}
    {# <section id="isso-thread" data-title="{{ page.title }}" data-isso-id="{{ article.id }}"></section> #}
    {# <script data-isso="https://39.107.126.13:8090"
    src="https://39.107.126.13:8090/js/embed.min.js" async></script>  #}
    {# <div id="cusdis_thread"
         data-host="https://cusdis.com"
         data-app-id="f95773a8-2dbc-4ecd-a1e4-9a07929a6290"
         data-page-id="{{ article.url }}"
         data-page-url="{{SITEURL}}/{{ article.url }}"
         data-page-title="{{ article.title }}"
         class="p-10 bg-green-50">
    </div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script> #}
    {% include "include/comment.html" %}
  </article>
{% endblock %}
