{% extends "base.html" %}
{% block sitename %}
  <h1>
    <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
  </h1>
{% endblock sitename %}
{% block content %}
  {# {% block content_title %}
    <h2>
      All articles
    </h2>
  {% endblock %} #}
  {% block left_side %}
  {% endblock left_side %}
  {% block right_side %}
  {% endblock right_side %}
  {% for article in articles_page.object_list %}
    <article class="text-gray-500 border-b  border-gray-200">
      <header>
        <h2 class=" ">
          <a class="text-sky-500"
             href="{{ SITEURL }}/{{ article.url }}"
             rel="bookmark"
             title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
      </header>
      <section>
        {% if article.summary %}
          {{ article.summary }}
        {% else %}
          {{ article.content|striptags|truncate(SUMMERY_MAX_LENGTH) }}
        {% endif %}
      </section>
      {% include "include/footer_article_index.html" %}
    </article>
  {% endfor %}
  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
{% endblock content %}
