      <footer class="">
        <p>
          Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
          <br>
          {% if  article.modified %}
            Modified: <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }} </time>
          {% endif %}
        </p>
        {% if article.author %}
          <address>By
            {% for author in article.authors %}
              <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
          </address>
        {% endif %}
      </footer>
      