      <footer class="flex gap-x-20 flex-wrap justify-end my-5 text-sm text-gray-400 not-prose">
        <p class="">
          Published: <time datetime="{{ article.date }}"> {{ article.locale_date }} </time></p>
          <p>
          {% if  article.modified %}
            Modified: <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }} </time>
          {% endif %}
        </p>
        {% if article.author %}
          <address>By
            {% for author in article.authors %}
              <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
          </address>
        {% endif %}
      </footer>
      